<div class="body">

  <button class="tablink" onclick="openPage('Home', this, 'rgba(93, 0, 255, 0.223)')">Package 1</button>
  <button class="tablink" onclick="openPage('News', this, 'rgba(0, 128, 0, 0.278)')" id="defaultOpen">Package 2</button>
  <button class="tablink" onclick="openPage('Contact', this, 'rgba(0, 0, 255, 0.247)')">Package 3</button>
  <button class="tablink" onclick="openPage('About', this, 'rgba(84, 82, 78, 0.34)')">A-la Carte</button>
  
  <div id="Home" class="tabcontent">
    <h3>Package 1</h3>
    <p>Home is where the heart is..</p>
  </div>
  
  <div id="News" class="tabcontent">
    <h3>Package 2</h3>
    <p>Some news this fine day!</p> 
  </div>
  
  <div id="Contact" class="tabcontent">
    <h3>Package 3</h3>
    <p>Get in touch, or swing by for a cup of coffee.</p>
  </div>
  
  <div id="About" class="tabcontent">
    <h3>A-la carte</h3>
    <p>Who we are and what we do.</p>
  </div>
  </div>